fastapi
uvicorn[standard]
python-multipart
pandas
numpy
python-dateutil
requests
pytesseract
pdfplumber
Pillow
scikit-learn
joblib
python-magic
pdf2image

sentence-transformers
transformers>=4.38
torch
faiss-cpu
google-api-core
langchain-core
langchain-community
langchain-text-splitters
langchain-classic
 
langchain-groq
langchain-huggingface

PyMuPDF
python-docx
odfpy
pymongo
python-dotenv
